@font-face {
    font-family: 'Pokemon';
    src: local('Pokemon'),
        url('/img/Pokemon.ttf') format('woff2'), 
        url('/img/Pokemon.ttf') format('woff'),
        url('/img/Pokemon.ttf') format('ttf'),
        url('/img/Pokemon.ttf') format('eot');
}



body {
    font-family: 'Pokemon';
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('/img/1159692.jpg') center/cover fixed;
}

.navbar {
    width: 100%;
}

.title {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #f9cd54;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.5px black;
}

.container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container h1 {
    color: #f9cd54;
    letter-spacing: 5px;
    -webkit-text-stroke: 0.5px black;
}

.title-card {    
    height: 300px;
    border: 2px solid #f9cd54;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

.cards {
    text-align: center;
    margin: 0;
}

.infoBlock {
    border: 2px solid #f9cd54;
    width: 70%;
    padding: 0 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    background-color: rgba(72, 9, 244, 0.3);
}

.btnBack {
    width: 78%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btnBack h1 {
    width: 30%;
    box-shadow: 0px 0px 15px black;
    border: 2px solid #f9cd54;
    border-radius: 10px;
    margin: 0;
}

.cards-img {
    width: 100%;
    height: 70%;
}

.leftBlock {
    grid-column: 1/3;
}

.cardTitleName {
    margin: 0;
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin: 0;
    color: rgb(249, 205, 84);
    letter-spacing: 0px;
    -webkit-text-stroke: 0.5px black;
}

span {
    color: green;
}



.rightBlock {
    display: flex;
    grid-column: 3/5;
    height: 500px;
    width: 700px;
}

.img-block {
    width: 400px;
}

.btn-content {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background: rgba(2, 119, 252, 0.9);
    width: 150px;
    border-radius: 10px;
    border: 3px solid #f9cd54;
    color: #f9cd54;
}

.btn-object {
    margin: 0 20px;
    font-family: 'Pokemon';
    font-size: 30px;
}



.bulbasaur {
    background: url(/img/Bulbasaur.png) center/cover;
}

.ivysaur{
    background: url(/img/Ivysaur.png) center/cover;
}

.venusaur{
    background: url(/img/venusaur.png) center/cover;
}

.charmander {
    background: url(/img/charmander.png) center/cover;
}

.charmeleon {
    background: url(/img/charmeleon.png) center/cover;
}

.charizard {
    background: url(/img/charizard.png) center/cover;
}

.squirtle {
    background: url(/img/squirtle.png) center/cover;
}

.wartortle {
    background: url(/img/wartortle.png) center/cover;
}

.blastoise {
    background: url(/img/blastoise.png) center/cover;
}

.caterpie {
    background: url(/img/caterpie.png) center/cover;    
}

.metapod {
    background: url(/img/metapod.png) center/cover;
}

.butterfree {
    background: url(/img/butterfree.png) center/cover;
}

.weedle {
    background: url(/img/weedle.png) center/cover;
}

.kakuna {
    background: url(/img/kakuna.png) center/cover;
}

.beedrill {
    background: url(/img/beedrill.png) center/cover;
}

.pidgey {
    background: url(/img/pidgey.png) center/cover;
}

.pidgeotto {
    background: url(/img/pidgeotto.png) center/cover;
}

.pidgeot {
    background: url(/img/pidgeot.png) center/cover;
}

.rattata {
    background: url(/img/rattata.png) center/cover;
}

.raticate {
    background: url(/img/raticate.png) center/cover;
}